*.a
*.so*
*.xcodeproj
*~
.vscode/
/CMakeScripts
/Testing
/_CPack_Packages
/install_manifest.txt
CMakeCache.txt
CMakeFiles
CPack*.cmake
CTestTestfile.cmake
Makefile
build/
cmake_install.cmake
vcpkg_installed/
/cmake-build*
.idea/
vcpkg-config*
**/**/*lock*
**/**/node_modules
